<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<h3>Edit Item</h3>

	<form action="#" th:action="@{|/todo/${todoItem.id}/save|}" th:object="${todoItem}" method="post">
	    <textarea th:field="*{content}" rows="4" cols="50" th:text="${todoItem.content}"></textarea>
	    <br>
	    <input th:field="*{date}" type="date" value="${todoItem.date}">
	    <br>
	    <a href="/">Cancel</a>
		<input type="submit" value="Save changes">
	</form>

</body>
</html>
