<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Todo List</p>
	
	<table th:each="item: ${todoItems}">
		<tr th:if="${!item.done}">
			<td width="300px" th:text="${item.content}"></td>
			<td><a th:href="@{|/itemDone/${item.id}|}">Done</a></td>
			<td><a th:href="@{|/todo/${item.id}|}">Edit</a></td>
		</tr>
	</table>

    <form action="#" th:action="@{/addTodo}" th:object="${todoItem}" method="post">
    	<input type="text" th:field="*{content}">
    	<input type="submit" value="Add to list">
    </form>
</body>
</html>
