<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Todo List</p>
	
	<table th:each="item: ${todoItems}">
		<tr>
			<td th:text="${item.content}"></td>
		</tr>
	</table>

    <form action="#" th:action="@{/addTodo}" th:object="${todoItem}" method="post">
    	<input type="text" th:field="*{content}">
    	<input type="submit" value="Add to list">
    </form>
</body>
</html>
