<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

    <p>Todo List</p>
    <form action="#" th:action="@{/search/results}" th:object="${searchText}" method="post">
    	<input type="text" th:field="*{text}">
    	<input type="submit" value="Search">
    </form>

    <div th:if="${results != null}">
    		
	    <h3>Search results</h3>
		
		<p th:if="${#lists.isEmpty(results)}">No matches found...</p>
		<p th:if="${! #lists.isEmpty(results)}" th:text="${#lists.size(results)} + ' results found'"></p>

		<table style="text-align: left;">
			<tr>
				<th width="300px">Content</th>
				<th width="150px">Date</th>
				<th width="150px">Creation date</th>
			</tr>
			<tr th:each="item: ${results}">
				<td th:text="${item.content}"></td>
				<td th:text="${#dates.format(item.date, 'yyyy-MM-dd')}"></td>
				<td th:text="${#dates.format(item.createdAt, 'yyyy-MM-dd')}"></td>
				<td><a th:href="@{|/itemDone/${item.id}|}">Done</a></td>
				<td><a th:href="@{|/todo/${item.id}|}">Edit</a></td>
			</tr>
		</table>
    </div>
</body>
</html>
